body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
dl {
  margin-left: 20px;
}
.expand {
  display: inline-block;
  border: 1px grey solid;
  background: #003300;
  color: white;
  padding: 0 2px;
  text-decoration: none;
  width: 10px;
  text-align: center;
}
.progress {
  margin: 0 5px;
}
