body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
ul > li {
  display: inline-block;
  margin: 0 3px;
}
dl {
  margin-left: 20px;
  padding: 10px 0;
}
.expand {
  display: inline-block;
  border: 1px grey solid;
  background: #003300;
  color: white;
  padding: 0 2px;
  text-decoration: none;
  width: 10px;
  text-align: center;
}
.progress {
  margin: 0 5px;
  color: red;
}
dt[data-progress='100'] {
  background-color: #AAFFBB;
}
progress {
  display: block;
  width: 90%;
  padding: 0;
  margin: 0 auto;
}
