doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav 
      ul
        li
          a(href='#') Checkers
        li
          a(href='#') Create
        li
          a(href='#') login
        li
          a(href='#') Signup

    block content
  
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script(src='/scripts/main.js')
